html, body{
   overflow-x: hidden;
   height: 100%;
}
body {
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  font-family: "playfair display";
  padding-top: 1em;
}

h3:hover{
  color: #DC635F;
}

a ul li{
    text-decoration-style: none;
}

p, span, a, ul, li, button {
  font-size: 2em;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
	font-weight: 300;
}
p{
  font-size: 1.5em;
}

strong {
  font-weight: 400;
}
/*Centers all images*/
.profilePicture{
  margin: 15px 0 auto;
  text-align: center;
}

.quickViewOfInfo{
  height: 200px;
}
/*colors to tiles*/

/*form, make it pretty*/
.modal-header h2{
  color: black;
}
.modal-header h3{
  color: black;
}

#submitNewInfoButton{
  background-color: #112938;
  color: white;
}
#submitNewInfoButton:hover{
  color: white;
}
.tilepurple{
  background-color: #B27DF4;
  height: 200px;
  padding: 1em;}
.tilered {
  background-color:#5F2A1E;
  height: 200px;
  padding: 1em;}
.tileorange {
  background-color:#DE2D38;
  height: 200px;
  padding: 1em;}
.tilegrey {
  background-color:#C5C5C6;
  height: 200px;
  padding: 1em;
}
.tileblue {
  background-color: #5CB5C6;
  height: 200px;
  padding: 1em;}

.tile {
  width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	margin-bottom: 30px;
}


/*end of colors to tiles*/

#iconHover:hover {
  color:#F7D3A8;
}
.fa:hover{
  color: #DC635F;
}


.newInfoBtn {
font-size: 10px;
margin-bottom: 10px;
margin-right: 20px;
position:fixed;
bottom:0;
right:0;
z-index: 1000;
};

/*LANDING CSS*/
.landing {
	visibility: hidden;
	height: 150px;
	width: 150px;
}
#test {
	opacity: .5;
	margin: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*End of Laning css*/
/* Big Quickview area*/
h4{
	border: 2px solid white;
	background-color: #112938;
}
h4:hover{
  color: #DC635F;
}
ul.socialStuffs{
	padding-left: 0;
}
li .socialMediaIcon {
  padding-right: 10px;
}
/*end of new Div Template View*/
.profilePicture {
	width: 45%;
	margin: 0 auto;
	float: left;
}
.companyProfileInfo {
	width: 45%;
	margin: 0 auto;
	float: left;
}
.companyProfileInfo h3 {
	margin-left: 15px;
	vertical-align: top;
	display: inline;
	font-size: 1.5em;
}
.companyProfileInfo ul {
	padding-left: 0px;
	vertical-align: bottom;
}
.companyProfileInfo li {
	display: inline;
	padding: 6px;
}
#nameBorder {
	position: relative;
	margin: 0 auto;
	padding: .75em;
	color: white;
	background-color: #112938;
	min-height: 40px;
  text-align: center;
}
#nameBorder:before {
	position: absolute;
	top: 5px;
	left: -22px;
	content: '';
	width: 0;
	height: 0;
	margin: -5px 0 0;
	border-right: solid 22px #112938;
	border-bottom: solid 22px transparent;
	border-top: solid 22px transparent;
}
#profileRow {
	margin-top: 10px;
	height: 150px;
}
#profileRow h4 {
	margin-top: 0px;
	margin-right: 15px;
	vertical-align: center;
	text-align: center;
	position: relative;
	padding: 10px;
	color: white;
	background-color: #112938;
	min-height: 40px;
}
#profileRow p {
	margin: 10px 15px 10px 15px;
	text-align: vertical right;
}
