
<!-- Big View of company profiles-->
<div class="rowForProfile">
<div class = "visible-md visible-lg hidden-s hidden-sm">
<div class="row companyBlocks">
  <div id="profileHeader" class="col-xs-12">
    <div class="profilePicture">
			<img src="../../img/profilePictures/taylorSwift-small.jpg" height="200px" width="200px"class="img-rounded">
      <ul class="socialStuffs">
        <a href="https://www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a> <a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-3x"></i></a><a href="https://www.github.com"><i class="fa fa-github fa-3x"></i></a>
      </ul>
    </div>

    <div class="companyProfileInfo">
        <div id="nameBorder">
					<h3> {{taylorFirstName}} {{taylorLastName}} </h3>
        </div>

      <div class="quickViewOfInfo row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <ul style="color:white;"> <!-- Add/change in CSS-->
                <li><h4 id="iconHover"><i class="fa fa-hourglass-start"></i>Status: Sent an email</h4></a></li>
                <li><h4><i class="fa fa-pencil-square-o"></i></i>Next Step: Follow up</h4></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul style="color:white;">
                <li><h4><i class="fa fa-map-marker"></i>Location: Detroit, Michgan</h4></li>
                <li><h4><i class="fa fa-tasks"></i>Skills: HTML,CSS, JS</h4></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--  Small view of company profiles-->
<span class = "visible -xs visible-s hidden-sm hidden-md hidden-lg"style = "margin-right: -80px; margin-left: -80px;">
<div class="row companyBlocks">
<div id="profileHeader" class="col-xs-12">
  <div class="profilePicture">
		<img src="../../img/profilePictures/taylorSwift-small.jpg" class="img-rounded">
  </div>
  <div class="companyProfileInfo">
      <div id="nameBorder">
				<h3> {{taylorFirstName}} {{taylorLastName}} </h3>
    </div>
  <div class = "visible -xs visible-s hidden-sm hidden-md hidden-lg"style = "margin-right: -70px; margin-left: -30px; margin-top: 10px;">
    <ul style="margin-right: -20px; margin-left: -80px;">
        <li><a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a></li>
        <li><a href="https://www.github.com"><i class="fa fa-github fa-2x"></i></a></li>
    </ul>
  </div>
  </div>

</div>
</div>
</span>



<div class="rowForProfile" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Education</h4>
		<p class="profileText col-x-8" contenteditable="true"> {{taylorEducation}} </p>
	</div>
</div>



<div class="rowForProfile" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">E-Mail</h4>
		<p id="googleEmail" class="profileText col-x-8" contenteditable="true">{{taylorEmail}}</p>
	</div>
</div>



<div class="rowForProfile" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Job Title</h4>
		<p id="googleEmail" class="profileText col-x-8" contenteditable="true">{{taylorJobTitle}}</p>
	</div>
</div>



<div class="rowForProfile" class="col-xs-12">
	<div id="profileRow">
		<h4 class="profileHead col-xs-4">Skills</h4>
		<p id="googleEmail" class="profileText col-x-8" contenteditable="true">{{taylorSkills}}</p>
	</div>
</div>
