<!-- Big View of company profiles-->
<div class = "visible-sm visible-md visible-lg hidden-s">
<div class="row companyBlocks">
  <div id="profileHeader" class="col-xs-12">
    <div class="profilePicture">
      <img src="img/companyPictures/gc-small.png" height="200" width="200" class="img-rounded">
      <ul class="socialStuffs">
        <a href="https://www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a> <a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-3x"></i></a><a href="https://www.github.com"><i class="fa fa-github fa-3x"></i></a>
      </ul>
    </div>

    <div class="companyProfileInfo">
      <a href="#/companyInfo">
        <div id="nameBorder">
        <h3>{{name}}</h3>
        </div>
      </a>

      <div class="quickViewOfInfo row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <ul style="color:white;"> <!-- Add/change in CSS-->
                <li><a href="#/companyInfo"><h4><i class="fa fa-hourglass-start"></i>Status: {{status}}</h4></a></li>
                <li><a href="#/companyInfo"><h4><i class="fa fa-pencil-square-o"></i></i>Next Step: Follow up</h4></a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul style="color:white;">
                <li><a href="#/companyInfo"><h4><i class="fa fa-map-marker"></i>Location: {{location}}</h4><a></li>
                <li><a href="#/companyInfo"><h4><i class="fa fa-tasks"></i>Skills: HTML,CSS, JS</h4></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--  Small view of company profiles-->
<span class = "visible -xs visible-s hidden-sm hidden-md hidden-lg"style = "margin-right: -80px; margin-left: -80px;">
<div class="row companyBlocks">
<div id="profileHeader" class="col-xs-12">
  <div class="profilePicture">
    <img src="img/companyPictures/gc-small.png" class="img-rounded">
  </div>
  <div href="#/companyInfo" class="companyProfileInfo">
      <div id="nameBorder">
        <h3>{{name}}</h3>
    </div>
  <div class = "visible -xs visible-s hidden-sm hidden-md hidden-lg"style = "margin-right: -70px; margin-left: -30px; margin-top: 10px;">
    <ul style="margin-right: -20px; margin-left: -10px;">
        <li><a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a></li>
        <li><a href="https://www.github.com"><i class="fa fa-github fa-2x"></i></a></li>
    </ul>
  </div>
  </div>

</div>
</div>
</span>


<hr>

<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <div class="tileblue" >
        <h3 class="title">Status</h3>
        <p>{{status}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tilegrey">
        <h3 class="title">Location</h3>
        <p>{{location}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tileblue">
        <h3 class="title">Description</h3>
        <p>{{jobDesc}}</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="tilegrey">
        <h3 class="title">Size</h3>
        <p>{{size}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tileblue">
        <h3 class="title">Wants</h3>
        <p>{{wants}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tilegrey">
        <h3 class="title">Product</h3>
        <p>{{product}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="tileblue">
        <h3 class="title">Salary</h3>
        <p>{{salary}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tilegrey">
        <h3 class="title">Industry</h3>
        <p>{{industry}}</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tileblue">
        <h3 class="title">Skills</h3>
        <p>{{bonusSkills}}</p>
      </div>
    </div>
  </div>
</div>
